<div class='splitter'><div>
<div class='social-link'>
<a href='https://github.com/tayloraburgess'>
  <img src='{{ '/assets/github.png' | prepend: site.baseurl | prepend: site.url }}'>
</a>
</div>
<div class='social-link'>
  <a href='https://www.linkedin.com/in/tayloraburgess'>
    <img src='{{ '/assets/linkedin.png' | prepend: site.baseurl | prepend: site.url }}'>
  </a>
</div>
<div class='social-link'>
  <a href='https://twitter.com/tayloraburgess'>
    <img src='{{ '/assets/twitter.png' | prepend: site.baseurl | prepend: site.url }}'>
  </a>
</div>
<div class='rc-scout'></div>
