<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>
		<li>
		<a href="{{ '/code' | prepend: site.baseurl | prepend: site.url }}">Code</a><span>/</span>
	</li>	
	</li>
		<li>
		<a href="{{ '/audio' | prepend: site.baseurl | prepend: site.url }}">Audio</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/assets/resume.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a><span>/</span>
	</li>
</ul>