<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/music' | prepend: site.baseurl | prepend: site.url }}">Music</a><span>/</span>
	</li>
	<li>
		<a href="https://github.com/tayloraburgess">GitHub</a><span>/</span>
	</li>
	<li>
		<a href="{{ site.url }}/assets/burgessResume.pdf">Resume</a><span>/</span>
	</li>
</ul>