.main {
  font-family: 'Fira Mono', monospace; 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.nav {
  width: 100%;
  border-bottom: 1vh solid $dark-green;
}

.menu {
  position: relative;
  height: 10vh;
  background: $light-gray;
}

.logo {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 

  img {
    display: block;
    position: absolute;
    margin: 0;
    left: calc(3% + 0.5vh);
    top: 50%;
    transform: translateY(-50%);
    border: 0px;
    height: 7vh;
  }
}
.expander {
  display: block;
  position: absolute;
  right: 3%;
  top: 50%;
  width: 5vh;
  height: 5vh;
  transform-origin: top;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 

  img {
    display: inline;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    padding: .5vh;
  }

  &.closed::before, &.closed::after {
    background: $dark-green;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  &:hover {
    cursor: pointer; 
  }

  &.open {
    transform: rotate(45deg) translateY(-50%);
    transition: transform $animation-speed;
  }

  &.closed {
    transform: rotate(0deg) translateY(-50%);
    transition: transform $animation-speed;
  }
}

.links {
  text-align: right;

  a {
    display: block;
    padding-right: calc(3% + 0.5vh);
    padding-top: 1.5vh;
    margin: 0;

    &:first-child {
      padding-top: 2.5vh;
    }

    &:last-child {
      padding-bottom: 1.5vh;
    }
  }

  &.closed {
    visibility: hidden;
    max-height: 0vh;
    background: $light-gray;
    box-shadow: 
    inset 100vw 0 0 $light-gray,
    inset 0vh 0 0 $light-gray, 
    inset -100vw 0 0 $light-gray;
    transition: 
    visibility $animation-speed,
    box-shadow $animation-speed,
    background $animation-speed,
    max-height $animation-speed;

    a {
      opacity: 0;
      color: $light-gray;
      transition: 
      opacity $animation-speed,
      color 0.2s;
    }

    &::before {
      width: 0vw;
      background: $light-gray;
      transition: 
      right $animation-speed,
      background $animation-speed,
      width $animation-speed;
    }
  }

  &.open {
    visibility: visible; 
    max-height: 90vh;
    background: $light-green;
    box-shadow: inset 65vw 0 0 $medium-gray; 
    transition: 
    visibility $animation-speed,
    box-shadow $animation-speed,
    background $animation-speed,
    max-height $animation-speed;

    a {
      opacity: 1;
      color: $medium-gray;
      transition: 
      opacity $animation-speed,
      color 0.2s;

      &:hover {
        color: $dark-green;
      }
    }

    &::before {
      width: 100vw;
      background: $dark-green;
      transition: 
      right $animation-speed,
      background $animation-speed,
      width $animation-speed;
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 1vh;
    left: 0;
  }
}

path#path30 {
  fill: white;
}

@keyframes pulse {
  0% {
    background: $dark-green;
  } 
  50% {
    background: $medium-green;
  }
  100% {
    background: $dark-green;
  }
}
