.post {
  .nav {
    text-align: center;

    > div {
      display: inline-block;
      width: 32%;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
  @media print {
    .nav {
      display: none;
    }
  }
}
