.resume {
  position: relative;

  ul {
    margin: 0;
  }

  > div {
    margin-top: 55px;

    &:first-child::before {
      content: 'tayloraburgess@gmail.com | 8505594026';
      font-family: 'Fira Mono', monospace;
      display: block;
      position: absolute;
      top: -48px;
      font-size: 13.28px;
      padding-left: 13px;
    }

    > div {
      padding-left: 13px;
      page-break-inside: avoid;

      &:last-child {
        margin-bottom: 40px;
      }

      p:last-child {
        margin-bottom: 25px;
      }
    }
  }

  h2 {
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 99.5%;
      z-index: -1;
      height: 0.5vh;
      bottom: 5px;
      right: 0;
      background: $light-gray;
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  h4 {
    margin: 5px 0px 15px 0px;
  }

  p {
    margin: 7px 0px;
  }

  @media print {
    h2 {
      border-bottom: 0.5vh solid $light-gray;
    }

    > div:first-child::before {
      content: 'tayloraburgess@gmail.com | tayloraburgess.github.io | 8505594026';
    }
  }
}
