//
// Colors
//

$light-gray: #DEDEDE;
$medium-gray: #8B9993;
$dark-gray: #4D4D4D;
$light-green: #4C6D63;
$medium-green: #003824;
$dark-green: #001E13;
$animation-speed: 0.35s;

//
// Breakpoints
//

$large: 1024px;
$medium: 750px;
$small: 450px;
$smallest: 415px;
