$main-back-color: rgb(222, 222, 222);
$emph-back-color: #001E13;
$emph-color-lighter: #003824;
$menu-back-color: #4C6D63;
$other-1: #8B9993;
$other-2: #57F2B6;
$text-color: #4D4D4D;
$animation-speed: 0.6s;
