---
---

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$main-back-color: white;
$emph-back-color: gray;

* {
  font-family: 'Fira Mono', monospace; 
}

body {
  margin: 0px;
  background-color: $main-back-color;
}

div {
  box-sizing: border-box;
}

.title {
  margin: 0px;
}
div.main {
  text-align: center;
  position: relative;
  width: 80%;
  margin: auto;
}

@keyframes show-links {
  from {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
  to {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-container {
  from {
    width: 0%;
    left: 50%;
    right: 50%;
  }
  to {
    width: 50%;
    left: 25%;
    right: 25%;
  }
}

@keyframes rotate-expander {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.expander {
  display: inline-block;
}

.expander.open {
  transform: rotate(45deg);
}

.expander.animate-open {
  animation-name: rotate-expander;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.expander.animate-closed {
  animation-name: rotate-expander;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.container {
  position: relative;
  width: 100%;
}

div.container:before, div.container:after {
  content: "";
  background: black;
  position: absolute;
  height: 1px;
}

div.container:after {
  bottom: 0;
}

div.container.open:before, div.container.open:after {
  width: 50%;
  left: 25%;
  right: 25%;
}

div.container.closed:before, div.container.closed:after {
  width: 0%;
  left: 50%;
  right: 50%;
}

div.container.animate-open:before, div.container.animate-open:after {
  animation-name: show-container;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.container.animate-closed:before, div.container.animate-closed:after {
  animation-name: show-container;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.links.animate-open {
  animation-name: show-links;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.links.animate-closed {
  animation-name: show-links;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.links.closed {
  opacity: 0;
  max-height: 0px;
  visibility: hidden;
}

div.links.open {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}

div.rc-scout {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 60px;
  height: 60px;
}

div.footer {
  text-align: center;
  background-color: $emph-back-color;
  padding: 10px;
}

a.social-link {
  margin: 5px;
  text-decoration: none;
}
