---
---

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$main-back-color: white;
$emph-back-color: gray;

* {
  font-family: 'Fira Mono', monospace; 
}

body {
  margin: 0px;
  background-color: $main-back-color;
  font-weight: 700;
}

div {
  box-sizing: border-box;
}

.title {
  margin: 0px;
}

div.main {
  position: relative;
  width: 120px;
  padding: 7px;
}

@keyframes show-links {
  from {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
  to {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-container {
  from {
    width: 0%;
    left: 0%;
    right: 0%;
  }
  to {
    width: 100%;
    left: 0%;
    right: 100%;
  }
}

@keyframes rotate-expander {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.expander {
  display: inline-block;
  font-size: 300%; 
  line-height: 40px;
  font-weight: 100;
}

.expander.open {
  transform: rotate(45deg);
}

.expander.animate-open {
  animation-name: rotate-expander;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.expander.animate-closed {
  animation-name: rotate-expander;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.container {
  position: relative;
  width: 100%;
}

div.container:before, div.container:after {
  content: "";
  background: $emph-back-color;
  position: absolute;
  height: 1px;
}

div.container:after {
  bottom: 0;
}

div.container.open:before, div.container.open:after {
  width: 100%;
  left: 0%;
  right: 100%;
}

div.container.closed:before, div.container.closed:after {
  width: 0%;
  left: 0%;
  right: 0%;
}

div.container.animate-open:before, div.container.animate-open:after {
  animation-name: show-container;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.container.animate-closed:before, div.container.animate-closed:after {
  animation-name: show-container;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.links.animate-open {
  animation-name: show-links;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.links.animate-closed {
  animation-name: show-links;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

div.links.closed {
  opacity: 0;
  max-height: 0px;
  visibility: hidden;
}

div.links.open {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}

div.rc-scout {
  display: inline-block;
  position: relative;
  top: 12px;
  width: 48px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 110px;
  text-align: center;
  background-color: $emph-back-color;
}

div.social-link {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
