@media print {
  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.4rem;
    margin: .33rem 0;
    box-shadow: none;
  }

  h2 {
    margin: .45rem 0 .17rem 0;
    font-size: 1rem;
  }

  h3 {
    font-size: .7em;
  }

  p, ul {
    font-size: .5rem;
    line-height: 1rem;
  }

  h3, p, ul, li {
    margin: .17rem 0;
  }

  h1, h2, h3, p, li {
    page-break-inside: avoid;
  }

  body, a, a:visited {
    color: black;
  }

  .two-col {
    columns: 2;
  }

  .half-margin {
    margin: .17rem 0;
  }
}
