* {
  box-sizing: border-box;
}

html {
  background-color: #dedede;
}

body {
  background-color: white;
  color: #4d4d4d;
  margin: 5rem 15rem;
  padding: 5rem;
}

h1, h2, h3, .sans-serif {
  font-family: 'Lato', sans-serif; 
  font-weight: 300;
  letter-spacing: .09rem;
}

h1 {
  margin: .83rem 0;
}

h1, .break {
  box-shadow: inset 0rem -1.12rem 0 -1rem #dedede;
}

h2 {
  font-size: 1.4rem;
}

h3, .sans-serif {
  font-size: 1.1rem;
}

h2, h3, p, pre, ul {
  margin: .75rem 0;
}

pre {
  overflow-x: scroll;
  background-color: #dedede;
  padding: 1rem;
  font-size: .9rem;
}

code {
  font-family: 'Fira Mono', monospace; 
  font-weight: 400;
}

.half-margin {
  margin: .375rem 0;
}

p, ul {
  font-family: 'Roboto Slab', serif; 
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .08rem;
  line-height: 1.5rem;
}

ul ul {
  margin: 0;
}

nav ul, footer ul {
  list-style: none;
  padding: 0;
}

a {
  color: #5d92ea;
  text-decoration: none;
}

a:visited {
  color: #5d92ea;
}

img {
  max-width: 100%;
  display: block;
}

section, header {
  padding: 0 0 1rem;
}

.section-padding {
  padding-bottom: 1.75rem;
}

header > h1:first-child, section > h1:first-child {
  margin-top: 0;
}

header + * {
  padding-top: 0;
}

@media (max-width: 1100px) {
  body {
    margin: 5rem;
  }
}

@media (max-width: 500px) {
  body {
    margin: 1.5rem;
    padding: 1.5rem;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  body, a, a:visited {
    color: black;
  }

  h1, .break {
    box-shadow: none;
  }
  
  h1, h2, h3, pre, p, li {
    page-break-inside: avoid;
  }
}
