<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Heebo" rel="stylesheet">
  </head>
  <body>
    <div class='main'>
      <div class='nav'>
        <div class='menu'>
          <a href='{{ '/' | prepend: site.baseurl | prepend: site.url }}'>
            <img class='logo' src='{{ '/assets/logo.png' | prepend: site.baseurl | prepend: site.url }}'>
          </a>
          <h1 class='title expander closed'>+</h1>
        </div>
        <div class='links closed'>
          <p class='title'><a class='menu' href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a></p>
          <p class='title'><a class='menu' href="{{ '/code' | prepend: site.baseurl | prepend: site.url }}">Code</a></p>
          <p class='title'><a class='menu' href="{{ '/audio' | prepend: site.baseurl | prepend: site.url }}">Audio</a></p>
          <p class='title bottom'><a class='menu' href="{{ '/assets/resume.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a></p>
        </div>
      </div> 
    </div>
    <div class='content'>
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
    <script>
document.addEventListener('DOMContentLoaded', () => {
  const ANIMATION_LENGTH = 400;
  let menuState = false;
  const links = document.getElementsByClassName('links')[0]; 
  const expander = document.getElementsByClassName('expander')[0];
  function flipState(state) {
    return menuState ? false : true;
  }
  expander.addEventListener('click', (e) => {
    if (e.target.classList.contains('closed')) {
      e.target.classList.remove('closed');
      e.target.classList.add('open');
      links.classList.remove('closed')
        links.classList.add('open');
    } else {
      e.target.classList.remove('open');
      e.target.classList.add('closed');
      links.classList.remove('open');
      links.classList.add('closed');
    }
  });
});
    </script>
  </body>        
</html>
