<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
  </head>
    <body>
      <header>
        <div>
          <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <h2>{{ site.harmony.description }}</h2>
          {% include header-links.html %}                
      </div>
      </header>
      {{ content }}
      <footer>
        <p>
          {% include footer.html %}
        </p>
      </footer>
      <script async defer src="https://www.recurse-scout.com/loader.js?t=3a2b9d9ef554dd4a4a16055f3057c0b9"></script>
    </body>        
</html>
