---
layout: default
---

<div>
	<div>
		<h1>{{ page.title }}</h1>
		<h3>
    	{{ page.date | date: "%b %-d, %Y" }} 
    </h3>
		<div>
			{{ content }}
			<h3>Tags: {{ page.tags | array_to_sentence_string }}</h3>
		</div>
	</div>

	<div class='blog-nav'>
		<div class='nav-link left'>
			{% if page.previous %}
      <h4><a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}">Previous</a></h4>
			{% endif %}
		</div>
    <div class='nav-link'><h4><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }} ">Archive</a></h4></div>
		<div class='nav-link right'>
			{% if page.next %}
      <h4><a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Next</a></h4>
    {% endif %}
		</div>
	</div>
<div class='rc-scout'></div>
<script async defer src="https://www.recurse-scout.com/loader.js?t=3a2b9d9ef554dd4a4a16055f3057c0b9"></script>
</div>
