* {
  box-sizing: border-box;
}

html {
  background-color: #dedede;
}

body {
  background-color: white;
  color: #4d4d4d;
  margin: 5rem 15rem;
  padding: 5rem;
}

h1, h2, h3, nav a {
  font-family: 'Lato', sans-serif; 
  letter-spacing: .09rem;
}

h1 {
  box-shadow: inset 0rem -0.1rem #dedede;
  margin: .83rem 0;
}

h2, nav a {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h2, h3, p, nav a {
  margin: .75rem 0;
}

p {
  font-family: 'Roboto Slab', serif; 
  font-size: .9rem;
  letter-spacing: .08rem;
  line-height: 1.5rem;
}

a {
  color: #5c749c;
  text-decoration: none;
}

a:visited {
  color: #5c749c;
}

nav a {
  display: block;
}

section, nav {
  box-shadow: inset 0rem -0.1rem #dedede;
  padding: 1rem 0;
}

header > *:first-child {
  margin-top: 0;
}

header + * {
  padding-top: 0;
}

section:last-of-type {
  box-shadow: none;
}


@media (max-width: 1100px) {
  body {
    margin: 5rem;
  }
}

@media (max-width: 500px) {
  body {
    margin: 1.5rem;
    padding: 1.5rem;
  }
}
